.icon {
  width: 64px;
  vertical-align: top;
  border: 1px solid salmon;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  text-align: center;
}

#increment {
  margin: 10px 0;
  font-size: 40px;
  width: 100px;
  height: 100px;
  padding: 10px;
}
